* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}
::selection {
  background-color: #48dbfb60;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #353b48;
}
html {
  scroll-behavior: smooth;
}
.inner-width {
  max-width: 1000px;
  margin: auto;
  padding: 0 40px;
}
.navbar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 99;
  transition: 0.3s linear;
}

.navbar .inner-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: white  ;
  font-size: 16px;
  border: 2px;
  border-style:solid;
  padding: 5px;
  text-decoration: underline;
  box-shadow: 3px 3px rgba(255, 255, 255, 0.5);
  font-weight: 600;

}
.menu-toggler {
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 99;
  display: none;
}
.menu-toggler span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: 0.3s linear;
}
.navbar-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  transition: 0.3s linear;
}
.navbar-menu a:hover {
  color: #48dbfb !important;
}
.sticky {
  background-color: #fff;
  padding: 18px 0;
}
.sticky .logo {
  color: black;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}
.sticky .navbar-menu a {
  color: #111;
}
.sticky .menu-toggler span {
  background: #111;
}

#home {
  height: 100vh;
  min-height: 500px;
  background: url("../images/skills-logo/pavillion 3.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
#home .inner-width {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
#home .content {
  width: 100%;
  color: #fff;
}
#home .content h1 {
  font-size: 60px;
  margin-bottom: 10px;
}
#home .content h2 {
  font-size: 30px;
  margin-bottom: 60px;
}
#home .content h2::after {
  content: "Architect";
  animation: textanim 10s linear infinite;
}
@keyframes textanim {
  25% {
    content: "Ambitious";
  }
  50% {
    content: "Adaptive";
  }
  75% {
    content: "Creative";
  }
}
.sm a {
  color: #fff;
  font-size: 22px;
  margin: 0 10px;
  transition: 0.3s linear;
}
.sm a:hover {
  color: #48dbfb;
}
#home .buttons {
  margin-top: 60px;
}
#home .buttons a {
  display: inline-block;
  margin: 15px 30px;
  color: #48dbfb;
  /* color: #fff; */
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 2px solid;
  padding: 14px 0;
  transition: 0.2s linear;
  /* background-color: rgba(0, 0, 0, 0.6); */
}
#home .buttons a:hover,
#home .buttons a:nth-child(2) {
  background: #48dbfb;
  color: #fff;
}
#home .buttons a:nth-child(2):hover {
  background: transparent;
  color: #48dbfb;
  /* background: rgba(0, 0, 0, 0.6);
  color: #fff; */
}

section {
  padding: 100px 0;
  background-color: #f1f1f1;
}
.section-title {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  font-size: 26px;
  padding-bottom: 20px;
  color: #111;
}
.section-title::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: #111;
  bottom: 0;
  left: calc(50% - 40px);
}
.section-title::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 10px;
  background-color: #48dbfb;
  border: 4px solid #f1f1f1;
  left: calc(50% - 12px);
  bottom: -7px;
}
.about-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about-pic {
  width: 200px;
  border-radius: 50%;
  margin-right: 100px;
  border-style: solid;
  border-color: #48dbfb;
  border-width: 5px;
}
.about-text {
  flex: 1;
}
.about-text h3 {
  margin: 10px 0;
  color: #444;
  font-size: 16px;
}
.about-text h3 span:nth-child(1)::after,
.about-text h3 span:nth-child(1)::before,
.about-text h3 span:nth-child(2)::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #444;
  display: inline-block;
  border-radius: 50%;
  margin: 0 14px;
}
.about-text h3 span:nth-child(1)::before {
  margin-left: 0;
}
.about-text p {
  font-size: 17px;
  text-align: justify;
  line-height: 26px;
  margin-top: 20px;
}
/* Skills */
.skills {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skills img {
  height: 45px;
  margin: 20px;
}

.skills p {
  margin-top: 20px;;
}

.skill {
  width: calc(50% - 20px);
  margin: 15px 0;
}
.skill-info {
  display: flex;
  justify-content: space-between;
}
.skill-bar {
  height: 5px;
  background-color: #ddd;
  margin-top: 14px;
  position: relative;
}
.skill-bar::after {
  content: "";
  position: absolute;
  height: 5px;
  background-color: #48dbfb;
  /* width: 50%; */
  bottom: 0;
}
.html::after {
  width: 90%;
}
.css::after {
  width: 80%;
}
.js::after {
  width: 70%;
}
.php::after {
  width: 60%;
}
.sql::after {
  width: 50%;
}
.cs::after {
  width: 40%;
}

/* --------------- Services */
section.dark {
  background-color: #353b48;
  /* background-color: rgba(0, 0, 0, 0.9); */
}
section.dark .section-title {
  color: #f1f1f1;
}
section.dark .section-title::before {
  background-color: #f1f1f1;
}
section.dark .section-title::after {
  border-color: #353b48;
}
.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.service {
  width: calc(33% - 20px);
  text-align: center;
  border: 1px solid #48dbfb;
  margin: 20px 0;
  padding: 40px 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s linear;
}
.service .icon {
  color: #48dbfb;
  font-size: 40px;
  margin-bottom: 20px;
  transition: 0.3s linear;
}
.service h4 {
  font-size: 16px;
  margin-bottom: 6px;
}
.service:hover {
  background-color: #48dbfb;
}
.service:hover .icon {
  color: #fff;
}
/* --------------- Services */
/* --------------- Eduction */
.time-line{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 30px 20px;
  position: relative;
}
.block::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 120%;
  background-color: #ddd;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}
.block::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #48dbfb;
  left: -28px;
  top: 30px;
}
.block h3 {
  font-size: 16px;
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.block p {
  font-size: 15px;
  color: #444;
  /* margin-left: 100px; */
}

.block ul {
  font-size: 15px;
  color: #444;
  margin-left: 40px;
  list-style-type: circle;
}

.block img{
  width: 70px;
  /* max-width: 60px; */
  margin-right:10px;
}
/* --------------- Eduction */
/* --------------- Project Works */
.works{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.work {
  width: calc(33% - 10px);
  max-height: 190px;
  overflow: hidden;
  border-radius: 5px;
  margin: 10px 6px;
  cursor: pointer;
  position: relative;
}
.work img {
  width: 100%;
  height: 100%;
  transition: 0.4s linear;
}
.work::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #48dbfbcc;
  transition: 0.2s linear;
  opacity: 0;
  transform: scale(0);
}
.work .info {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  left: 40px;
  color: #fff;
  transition: 0.4s;
  opacity: 0;
}
.mfp-figure {
  /* padding: 0 50px !important; */
}

.mfp-img {
  max-height: 57vh !important;
  min-height: 52vh!important;
  max-width: 87vh !important;
  min-width: 82vh !important;
  /* padding: 0 50px !important; */
}

.mfp-counter {
  top: auto;
}

.mfp-title {
  color: #fff;
  text-align: justify;
  margin: 10px 0;
  padding: unset;
  margin-top: 30px;
}

.mfp-title a {
  color: #48dbfbcc;
}

.work:hover img {
  transform: scale(1.6) rotate(25deg);
}
.work:hover .info {
  opacity: 1;
}
.work:hover::before {
  opacity: 1;
  transform: scale(1);
}
/* --------------- Works */
/* --------------- Contacts */
.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.contact-info .item {
  width: calc(33% - 20px);
  height: 160px;
  background-color: #353b48;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s linear;
}
.contact-info i {
  display: block;
  font-size: 40px;
  line-height: 120px;
  height: 100px;
}
.contact-info .item:hover {
  background-color: #48dbfb;
}
.contact-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background-color: #353b48;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 4px;
  color: #fff;
}
.name,
.email {
  max-width: calc(50% - 10px);
}
.message {
  min-height: 200px;
  resize: vertical;
}
.contact-form .btn {
  width: 180px;
  background-color: transparent;
  color: #48dbfb;
  border: 2px solid #48dbfb;
  font-size: 16px;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  transition: 0.3s linear;
}
.contact-form .btn:hover {
  background-color: #48dbfb;
  color: #fff;
}
footer {
  background: url(../images/bg.jpg) no-repeat;
  text-align: center;
  color: #fff;
  padding: 50px 0;
}
.copyright {
  margin-bottom: 20px;
  font-size: 15px;
}
.copyright a {
  font-size: 16px;
  color: #48dbfb;
  font-weight: 500;
}
.gotop {
  position: fixed;
  z-index: 999;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: #48dbfb;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media(max-width:760px) {
  .mfp-arrow {
    display: none !important;
  }
  .mfp-img {
    width: 100% !important;
    min-width: 0px !important;
    /* max-width: none !important; */
  }
}
/* --------------- Contacts */
@media (max-width: 900px) {
  .menu-toggler {
    display: block;
  }
  .navbar-menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 300px;
    padding: 80px 50px;
    transition: 0.3s linear;
  }
  .navbar-menu a {
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }
  .sticky .navbar-menu {
    background-color: #f1f1f1;
  }
  .navbar-menu.active {
    right: 0;
  }
  .menu-toggler.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 4px;
  }
  .menu-toggler.active span:nth-child(2) {
    opacity: 0;
  }
  .menu-toggler.active span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 14px;
  }
  .inner-width {
    max-width: 800px;
  }
  .about-pic {
    margin: 0 auto 60px;
  }
  .about-text {
    flex: 100%;
    text-align: center;
  }
  .service {
    width: calc(50% - 20px);
  }
  .block {
    width: calc(100% - 20px);
    margin-left: auto;
  }
  .work {
    width: calc(100% - 10px);
  }
  .contact-info .item {
    width: calc(100% - 1px);

    margin: 10px 0;
  }
}
@media (max-width: 600px) {
  .inner-width {
    padding: 0 20px;
  }
  .skill {
    width: 100%;
  }
  .service {
    width: 100%;
  }
  .work {
    width: 100%;
  }
  .name,
  .email {
    max-width: 100%;
  }
}
